$primaryFont: "Poppins";
$secondaryFont: "Quicksand";

$black: #000000;
$dark: #292929;
$white: #FFFFFF;
$yellow: #FFA800;

$desktop-header-height: 80px;
$tablet-header-height: 70px;
$mobile-header-height: 60px;

$desktop-spacing: 80px;
$tablet-spacing: 55px;
$mobile-spacing: 30px;