@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.footer-container {
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
    background-color: $black;
    display: flex;
    justify-content: space-between;
    @include for-phone {
        flex-direction: column;
        align-items: center;
    }
    iframe {
        @include for-phone {
            width: 100%;
        }
    }
    .links {
        display: flex;
        flex-direction: column;
        width: 250px;
    }
    a {
        color: white;
        text-decoration: none;
        font-family: $secondaryFont;
        line-height: 140%;
        &:hover {
            color: $yellow;
        }
    }
    .content {
        color: whitesmoke;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include for-phone {
            width: 100%;
            margin-top: 20px;
        }
        .link-container {
            display: flex;
            justify-content: space-between;
            @include for-phone {
                justify-content: space-around;
                margin-bottom: 20px;
            }
        }
        .copyright {
            padding-top: 10px;
            border-top: 1px solid;
        }
    }
}
